body {
    
    padding: 10px;
    display: flex;
    flex-direction:column;
    
}

a {
    color:black;
    display:ruby;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

a:hover {
    color:rgb(42, 165, 58);
}


h2 {
    color:darkmagenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border-bottom: 9px;
    border-color: black;
}

div {
    border-style:double;
    border-color: black;
    justify-content: center;
}


    
